# Python
**/__pycache__/**
*.py[cod]

# Virtual environment
.venv/
venv/*
venv

# Environment variables / secrets
.env

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# YAML files (ignore temp yamls, keep k8s configs)
*.yaml
!k8s/*.yaml

# JSON files
*.json

# Models & Weights
*.gguf

# Logs
*.log

/personal_docs
